@page "/teachers"
@using TeacherServices.Interfaces
@using GradeBook.Common.Models
@inject HttpClient httpClient
@inject ITeacherService teacherService

<h3>Teachers</h3>


<EditForm Model="@teacher">
    <div>
        <p>First Name</p>
        <InputTextArea @bind-Value="teacher.FirstName" />
    </div>
    <div>
        <p>Last Name</p>
        <InputTextArea @bind-Value="teacher.LastName" />
    </div>
    <div>
        <p>Patronymic</p>
        <InputTextArea @bind-Value="teacher.Patronymic" />
    </div>

    <div>
        <button class="btn btn-primary" @onclick="SendDataToBackEnd"> send data to backEnd</button>

    </div>
</EditForm>

@if (teachers == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Lastn Name</th>
                <th>Patronymic</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var teacherItem in teachers)
            {
                <tr>
                    <td>@teacherItem.FirstName</td>
                    <td>@teacherItem.LastName</td>
                    <td>@teacherItem.Patronymic</td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="OnInitializedAsync"> Reload</button>
}



@code {
    List<TeacherDTO> teachers;
    TeacherDTO teacher;

    protected override async Task OnInitializedAsync()
    {

        teacher = new TeacherDTO();
        this.teachers = await teacherService.GetAllTeachers();
        //teachers = await httpClient.GetFromJsonAsync<List<TeacherDTO>>("https://localhost:44383/api/teacher");
    }

    protected override void OnInitialized()
    {

    }

    private async Task SendDataToBackEnd()
    {
        await teacherService.AddTeacher(teacher);

    }
}
